/* 반응형웹 */
@media screen and (max-width:1700px){
    main .selection #selection_slide .swiper-wrapper .swiper-slide .info {padding:320px 20px 20px 30px !important;}
}
@media screen and (max-width:1450px){
    main .selection #selection_slide .swiper-wrapper .swiper-slide .info {padding:320px 20px 20px 10px !important;}
    .swiper-slide {scale:0.9;}
    .shop {scale:0.8;}
}
@media screen and (max-width:1000px){
    .shop {scale:0.6;}
}
@media screen and (max-width:650px){
    .swiper-slide {scale:0.8;}
    .selection > h1 {font-size:2rem !important; margin:20px 0 0 0 !important;}
    #selection_slide {margin-bottom:0 !important;}
    main .selection #selection_slide .swiper-wrapper .swiper-slide .info {padding:320px 20px 20px 40px !important;}
    .shop {scale:0.5; flex-flow: column nowrap;}
}
/* main bg */
main {}
main .bg {width:100%; overflow:hidden;}
main .bg1 {}
main .bg1 video {width:100%;}
/* slide */
main .selection {
    width:calc(100% - 100px);
    margin:0 auto;
}
main .selection > h1 {
    font-size:3.157rem; font-weight:700;
    text-align:center; margin:50px 0;
}
main .selection #selection_slide {
    margin-bottom:50px;
}
main .selection #selection_slide .swiper-wrapper {}
main .selection #selection_slide .swiper-wrapper a {
    width:100%; height:100%; display:block;
}
main .selection #selection_slide .swiper-wrapper .swiper-slide {
    width:320px; height:450px;
    margin-bottom:50px;
}
main .selection #selection_slide .swiper-wrapper .swiper-slide:hover {}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info {
    padding:320px 20px 20px 60px; ;margin:0 auto;
    background:linear-gradient(358deg, #fff 5%, transparent) !important;
}
main .selection #selection_slide .swiper-wrapper .swiper-slide:hover {
    
}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info h1 {
    font-weight:700; text-overflow:ellipsis; width:300px;
    margin-top:10px; white-space:nowrap; overflow:hidden;
}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info .price {margin:10px 0;}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info .size {}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info .size > span {}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info .size > span::after {
    width:1px; height:12px; background:#aaa; display:inline-block;
    content:''; margin:0 10px;
}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info .size > span:last-child:after{display:none;}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info .color > span {
    width:20px; height:20px; border-radius:50%; 
    display:inline-block; margin-top:10px;
}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info .color > span:nth-child(1){background:#212E52;}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info .color > span:nth-child(2){background:#D4D4D6;}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info .color > span:nth-child(3){background:#35734E;}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info .color > span:nth-child(4){background:#2B2A30;}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info .color > span:nth-child(5){background:#7E1745;}
main .selection #selection_slide .swiper-wrapper .swiper-slide .info .color > span:nth-child(6){background:#DEC79E;}
main .selection #selection_slide .swiper-wrapper .slide1 {background:url(../images/selection1.jpg)no-repeat center;}
main .selection #selection_slide .swiper-wrapper .slide2 {background:url(../images/selection2.jpg)no-repeat center;}
main .selection #selection_slide .swiper-wrapper .slide3 {background:url(../images/selection3.jpg)no-repeat center;}
main .selection #selection_slide .swiper-wrapper .slide4 {background:url(../images/selection4.jpg)no-repeat center;}
main .selection #selection_slide .swiper-wrapper .slide5 {background:url(../images/selection5.jpg)no-repeat center;}
main .selection #selection_slide .swiper-wrapper .slide6 {background:url(../images/selection6.jpg)no-repeat center;}
main .shop {
    width:100%;
    height:100vh; margin:0 auto;
    display:flex; align-items:center;
    padding:0 30px; justify-content:space-around;
}
main .shop .s_left {}
main .shop .s_left >* {font-weight:700;}
main .shop .s_left h1 {font-size:5.3rem; width:640px;}
main .shop .s_left p {font-size:1.333rem; margin-top:50px; line-height:30px;}
main .shop .s_left a {font-size:2.369rem; font-weight:700;}
main .shop .s_left a img {}
main .shop .s_left p:last-child {
    border-bottom:2px solid #000;
    display:inline-block;
}
